GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./service-account.json
GOOGLE_SHEET_NAME=
SHEET_GID=

GOOGLE_CALENDAR_IMPERSONATE_EMAIL=

CALENDAR_ID=
HR_SCHEDULING_EMAIL=

GOOGLE_DRIVE_FOLDER_ID=
PORT=3000
SYNC_LOOKBACK_DAYS=

GROQ_API_KEY=
GROQ_API_KEY_2=
RECENT_WINDOW_MINUTES= 
http://localhost:3000/test-full-flow
